.header {
    background-color: #1E73FA;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .header {
        padding: 12px 15px; /* Tăng padding để header cao hơn */
    }

    .container {
        gap: 15px; /* Tạo khoảng cách rộng hơn giữa các phần tử */
    }
}