.logoContainer img {
    max-height: 50px;
    transition: transform 0.3s ease-in-out;
}

.logoContainer img:hover {
    transform: scale(1.1);
}

.logoContainer {
    display: flex;
    align-items: center;
}

.commitmentText {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .logoContainer {
        flex-direction: column; /* Xếp logo và chữ cam kết theo chiều dọc */
        text-align: center;
    }

    .logoContainer img {
        max-height: 40px; /* Giảm kích thước logo trên mobile */
    }

    .commitmentText {
        font-size: 14px; /* Giảm nhẹ kích thước chữ để vừa với mobile */
        margin-left: 0; /* Canh giữa chữ cam kết */
    }
}